<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="himanchutime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <himanchutime.Properties.Settings>
            <setting name="ひまんちゅたいむ" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="ひまんちゅトータル" serializeAs="String">
                <value />
            </setting>
            <setting name="最終更新日付" serializeAs="String">
                <value>06/26/2018 22:21:00</value>
            </setting>
        </himanchutime.Properties.Settings>
    </userSettings>
</configuration>